@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Safari and Chrome */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }
}
